.form__button{
    max-width: 302px;
    min-width: 133px;
    height: 48px;
    border: none;
    color: white;
    background-color: #744CED;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    padding: 0;
}

.form__button:hover{
    opacity: 0.8;
}

@media screen and (max-width:767px) {
    .form__button{
        
        max-width: 328px;
        max-height: 42px;
        margin-top: 20px;
    }
}