.form__hide-button{
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px 20px 11px 5px;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/hident.svg);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.5s ease 0s; 
}

.form__hide-button:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .form__hide-button{
        margin-right: 16px;
    }
}