.footer__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top:0;
    height: 34px;
    max-width: 614px;
    position: relative;
    
}

@media screen and (max-width:767px) {
    .footer__container{
        height: 68px;
    }
}