.form__input{
    height: 48px;
    width: 302px;
    border: 1px solid #F1ECFF;
    border-radius: 10px;
    margin-right: 20px;
    outline: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    padding-left: 20px;
    box-sizing: border-box;
}

.form__input:focus{
    text-align: start;
}

.form__input:focus::placeholder{
    color: transparent;
}

@media screen and (max-width:767px) {
    .form__input{
        max-width: 296px;
        margin: 0;
    }
}